{% extends 'TPMailer/base.html' %}
{% load staticfiles  %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block main_content %}

    <span class="col-md-4 col-lg-4 ">
        <img src="{% static 'TPMailer/img/admin.png'%}" class="img">
    </span>
    <span class="col-md-8 col-lg-8 ">
        <form class="form-horizontal" action="{% url 'admin' %}" method="POST">
            {% if error is True %}
                <div class="alert alert-danger">
                    <strong>Caution : </strong>{{ error_msg }}
                </div>
            {% else %}
                <br>
            {% endif %}
            {% csrf_token %}

            <div class="text-center">
                <h3><b>Welcome to ADMIN PANEL</b></h3>
                {% bootstrap_form form layout='horizontal' %}

            </div>
            <br>
            <div class="form-group">
                <span class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></span>
                <span class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <button type="submit" name="submit" class="btn btn-block btn-info submit">Submit</button>
                </span>
            </div>

        </form>
    </span>
{% endblock %}