{% extends 'TPMailer/base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block main_content %}
    <div class="text-center">
        <h3>Welcome to FUN app</h3>
        <p>common <b>join us</b> or <a href="{% url 'TPMailer:login' %}">login</a></p>
    </div>

    <form class="form-horizontal" action="{% url 'registre' %}" method="POST">
        {% csrf_token %}

        {% if method != 'POST' %}
            {% bootstrap_form form layout='horizontal' %}

        {% else %}
            {% bootstrap_form form layout='horizontal' %}
            <div>
                <span class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></span>
                <span class="col-xs-12 col-sm-12 col-md-9 col-lg-9 alert alert-danger">
                    <ul>
                        {% for er in error%}
                        <li>{{ er }}</li>
                        {% endfor%}
                    </ul>
                </span>
            </div>
        {% endif %}


        <div class="form-group">
            <span class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></span>
            <span class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <button type="submit" name="submit" class="btn btn-block btn-primary submit">Submit</button>
            </span>
        </div>
    </form>
{% endblock %}