{% extends 'TPMailer/base.html' %}

{% block main_content %}

    {% if user.is_authenticated %}
        <div class="text-center">
            <h2 class="text-warning">Jehd li ma ybaat a khouna !</h2>

            <form action="{% url 'TPMailer:logout' %}" class="form-horizontal" method="get">
                <button class="btn btn-danger btn-lg">Lavabo</button>
            </form>
        </div>
    {% else %}
        <center><h3>Welcome to login panel</h3></center>

        <div class="text-center">
            <p>common <a href="/app/">join us</a> or <b>login</b></p>
        </div>

        <form class="form-horizontal" method="post" action="{% url 'TPMailer:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email_field" placeholder="Enter email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password_field" placeholder="Enter password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}